# Application Settings
PORT=5001
NODE_ENV=development

# Security & CORS
ALLOWED_ORIGINS=["http://localhost:3000"]

# Authentication (JWT & Cookies)
COOKIE_NAME=chat-app
JWT_SECRET=jwt_secret_key_here

# Database Configuration
MONGO_URI=mongodb://localhost:27017/database_name

# Cloudinary Storage Configuration
CLOUDINARY_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
